tags

.DS_Store
._.DS_Store
dump.rdb
/.vagrant
/.vagrantfile

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

