<h1>Listing texts</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @texts.each do |text| %>
      <tr>
        <td><%= link_to text.text_type, [:admin, text] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text', new_admin_program_text_path %>
