<h1>Programs</h1>

<ul>
  <% @programs.each do |program| %>
    <li><%= link_to program.name, [:admin, program] %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Program', new_admin_program_path, class: 'btn btn-primary' %>
