<h1>Editing installment plan</h1>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @installment_plan] %> |
<%= link_to 'Back', admin_program_installment_plans_path(@installment_plan.program_id) %>
