<% provide(:title, 'Thank You') %>

<% if @custom_css %>
  <link href="<%= @custom_css %>" rel="stylesheet" type="text/css">
<% end %>

<div class="thank-you">
  <% if @text %>
    <%= markdown @text %>
  <% else %>
    <h1>Thank You!</h1>

    <p>You will receive email shortly confirming your registration.</p>

    <p>
      <small>Please contact us if you don't receive email in 1 day.</small>
    </p>
  <% end %>
</div>
