<% provide(:title, 'Thank You') %>

<link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
<style>
  h1, h2, h3
  {
    font-family: 'Oxygen', sans-serif;
    color: #3a96b8;
    font-weight: bold;
  }
  h1
  {
    text-align: center;
    font-size: 5em;
  }
  p
  {
    text-align: center;
    font-size: 2em;
    margin: 1em 0;
  }
</style>

<h1>Thank You!</h1>

<p>You will receive email shortly confirming your registration.</p>

<p>
  <small>Please contact us if you don't receive email in 1 day.</small>
</p>
