<% if @custom_css %>
  <link href="<%= @custom_css %>" rel="stylesheet" type="text/css">
<% end %>

<ol class="breadcrumb">
  <li><%= link_to "Program", @program_module.program %></li>
  <li class="active">Module</li>
</ol>

<h1><%= @program_module.title %></h1>

<%= markdown @program_module.content %>
