<ul>
  <% @program_modules.each do |program_module| %>
    <li><%= link_to program_module.title.presence || 'Module',
              [:admin, program_module] %></li>
  <% end %>
</ul>

<%= link_to 'New Module', new_admin_program_program_module_path,
      class: 'btn btn-primary' %>
